.list-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: auto auto;
}

.controls-wrapper {
    width: 100%;
    display: grid;
    grid-column: 2 / 15;
    grid-row: 1 / 2;
    grid-template-rows: 100px auto;
    grid-template-columns: repeat(13, 1fr);
}

.sort-wrapper {
    grid-column: 1 / 8;
    display: grid;
    grid-template-rows: 30% 5% 30% 5% 30%
}

.mode-wrapper {
    grid-column: 9 / 14;
    display: grid;
    grid-template-rows: 35% 65%;
}

.mode {
    display: grid;
    grid-template-columns: 50% 50%;
}

.title {
    grid-row: 1 / 2;
    margin: 0;
    align-self: end;
}

.sort-by {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.sort-ascendence {
    grid-row: 5 / 6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.search {
    grid-row: 2 / 3;
    grid-column: 1 / 14;
    margin-bottom: 50px;
}

.search-input {
    width: 200px;
    height: 20px;
    font-size: 18px;
    border: 1px solid black;
}

.content {
    grid-column: 2 / 15;
    grid-row: 2 / 3;
}